body {
  background: rgb(66, 17, 17);
  background: radial-gradient(circle, rgb(66, 17, 17) 0%, rgb(82, 12, 12) 26%, rgb(84, 10, 10) 51%, rgb(62, 17, 17) 75%, rgb(66, 17, 17) 100%);
  font-family: rubik;
  color: whitesmoke;
}

.container {
  padding: 30px;
  margin: 0 auto;
}

.header {
  height: 200px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  margin-bottom: 50px;
  background-color: rgb(170, 168, 65);
  border-radius: 50px;
}
.header__logo {
  margin: 0 auto;
  padding-left: 140px;
}

.regions-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 24px;
  padding-top: 85px;
  padding-right: 50px;
  height: 100px;
}
.regions-container .regionBtn {
  padding: 12px 32px;
  font-size: 16px;
  border-radius: 40px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(66, 17, 17);
  background-color: white;
  border: 2px solid rgb(66, 17, 17);
  font-weight: 700;
  cursor: pointer;
}
.regions-container .regionBtn:hover {
  color: white;
  background-color: rgb(66, 17, 17);
  border: 2px solid white;
}

.card {
  height: 400px;
  max-width: 250px;
  list-style: none;
  padding: 70px;
  position: relative;
  color: black;
  text-align: center;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: all 0.5s;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
}

.card-subtitle {
  font-weight: 700;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  background-color: white;
  border-radius: 20px;
  border: none;
  letter-spacing: 1px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-image {
  height: 175px;
  background-color: #ccc;
  border-radius: 50px;
  padding: 10px;
}

.back-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.75);
}

.front-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.75);
}

.isFlipped {
  transform: translateX(-100%) rotateY(-180deg);
}

#pokedex {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
}

.idPokemon,
.back-title {
  font-size: 24px;
  font-weight: 700;
}

.moves-title {
  font-size: 18px;
  text-decoration: underline;
  color: #333;
  margin: 0;
  padding: 0;
}

.moves {
  color: black;
  text-transform: uppercase;
  background-color: white;
  font-weight: 700;
  border-radius: 20px;
  padding: 4px;
  border: none;
  width: 60%;
  margin: 3.75px auto;
}

.flip-button {
  margin-top: 10px;
  padding: 10px;
  width: 80px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  background-color: rgb(66, 17, 17);
  color: white;
  cursor: pointer;
}
.flip-button:hover {
  background-color: white;
  color: rgb(66, 17, 17);
  border: 3px solid rgb(66, 17, 17);
}

@-webkit-keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(0px);
  }
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(0px);
  }
}
.grass {
  background-color: #137b3d;
}

.fire {
  background-color: #af2a2c;
}

.dragon {
  background-color: #448a95;
}

.electric {
  background-color: #fbfb72;
}

.poison {
  background-color: #5e2c87;
}

.water {
  background-color: #5777ca;
}

.normal {
  background-color: #cdbfca;
}

.psychic {
  background-color: #deaac6;
}

.rock {
  background-color: #8b3e21;
}

.bug {
  background-color: #828f0d;
}

.ghost {
  background-color: #32336b;
}

.ice {
  background-color: #86d0f4;
}

.fairy {
  background-color: #ea1369;
}

.ground {
  background-color: #984024;
}

.fighting {
  background-color: #ef6138;
}

.dark {
  background-color: rgb(36, 34, 34);
  color: white;
}

.steel {
  background-color: slategray;
}

.flying {
  background-color: lightblue;
}

.divFinder {
  width: 250px;
  padding-top: 75px;
  padding-left: 50px;
}
.divFinder input {
  width: 180px;
  font-weight: 700;
  height: 20px;
  border-radius: 15px;
  border: none;
}
.divFinder p {
  font-size: 32px;
  margin: 20px auto;
}/*# sourceMappingURL=style.css.map */